

p{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Ubuntu', sans-serif;
	margin:0;
}
body p{
	font-family: 'Open Sans', sans-serif;
}
body a:hover{
	text-decoration:none;
	    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

/*-- sidebar --*/
#sidebar {
  background: #222;
    width: 260px;
    height: 100%;
    display: block;
    position: absolute;
    left: -260px;
    top: 0;
    transition: left 0.3s linear;
    z-index: 999;
}
h4.menu {
    text-align: center;
    padding: 1em 1em;
    color: #fff;
    text-transform:uppercase;
    font-weight:bold;
    background:#ff0000;
}
#sidebar.visible {
  left: 0;
  transition: left 0.3s linear;
}

#sidebar-btn {
      display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 15px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 0;
    right: -73px;
}

#sidebar-btn span {
  height:3px;
  background:#ff0000;
  margin-bottom: 5px;
  display: block;
}

#sidebar-btn span:nth-child(2) { width: 75%; }

#sidebar-btn span:nth-child(3) { width: 50%; }

#sidebar ul {
  margin: 0;
  padding: 0;
}

#sidebar ul li { list-style: none;
 }
#sidebar ul li a:hover{
	background:#000;
		transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
#sidebar ul li a {
    color: #fff;
    display: block;
        padding: 14px 10px;
    text-decoration: none;
    text-align: center;
		transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
	font-size: 0.95em;
	border-bottom: 1px ridge rgb(25, 24, 24);
}

.crawl{
    outline: none;
    border: none;
    width: 12%;
	background: #e51c23;
    color: #fff;	
    font-size: 18px;
    padding: 12px 0px;
    text-transform: uppercase;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.crawl:hover {
	background:red;
    transform: scale(1.1);
}
/*-- slider --*/