

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

.table-container{
        padding: 0 10%;
        margin: 40px auto 0;
        }

.heading h1{
        font-size: 50px;
        text-align: center;
        margin-bottom: 100px;
        color: black;
        text-shadow: 3px 3px 5px #ee2828;
    }
.table{
        width: 100%;
        border-collapse: collapse;
    }
.table thead{
        background-color: #ee2828;
    }
.table thead tr th{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.35px;
        color: #ffffff;
        opacity: 1;
        padding: 12px;
        vertical-align: top;
        border: 1px solid #dee2e685;
    }
.table tbody tr td{
        font-size: 16px;
        letter-spacing: 0.35px;
        font-weight: normal;
        color: #f1f1f1;
        background-color: #3c3f44;
        padding: 8px;
        text-align: center;
        border: 1px solid #dee2e685;
    }
.table tbody tr td .btn{
        width: 130px;
        text-decoration: none;
        line-height: 35px;
        display: inline-block;
        background-color: white;
        font-weight: medium;
        color: black;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        font-size: 14px;
        opacity: 1;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 white;
        transition: ease-out 0.3s;
        outline: none;
        margin-top: 5px;
    }
.table tbody tr td .btn:hover{
        box-shadow: inset 130px 0 0 0 #ff1046;
        cursor: pointer;
        color: #ffffff;
    }
@media (max-width: 768px){
        .table thead{
            display: none;
        }
        .table, .table tbody, .table tr, .table td{
            display: block;
            width: 100%;
        }
        .table tr{
            margin-bottom: 15px;
        }
        .table tbody tr td{
            text-align: right;
            padding-left: 50%;
            position: relative;
        }
        .table td:before{
            content: attr(data-label);
            position: absolute;
            left:0;
            width: 50%;
            padding-left: 15px;
            font-weight: 600;
            font-size: 14px;
            text-align: left;

        }
        .fr{
            float: right !important;
        }
        .fl{
            float: left !important;
        }

    }


/*-- sidebar --*/
#sidebar {
  background: #222;
    width: 260px;
    height: 100%;
    display: block;
    position: absolute;
    left: -260px;
    top: 0;
    transition: left 0.3s linear;
    z-index: 999;
}
h4.menu {
    text-align: center;
    padding: 1em 1em;
    color: #fff;
    text-transform:uppercase;
    font-weight:bold;
    background:red;
}
#sidebar.visible {
  left: 0;
  transition: left 0.3s linear;
}

a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

#sidebar-btn {
      display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 15px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 0;
    right: -73px;
}
.home {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 15px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 40px;
    right: -85px;
    transform: scale(1.8);
}

.bin {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 15px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 87px;
    right: -85px;
    transform: scale(1.8);
    transition: .5s
}

#sidebar-btn span {
  height:3px;
  background: red !important;
  margin-bottom: 5px;
  display: block;
}

#sidebar-btn span:nth-child(2) { width: 75%; }

#sidebar-btn span:nth-child(3) { width: 50%; }

#sidebar ul {
  margin: 0;
  padding: 0;
}

#sidebar ul li { list-style: none;
 }
#sidebar ul li a:hover{
	background:#000;
		transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
#sidebar ul li a {
    color: #fff;
    display: block;
        padding: 14px 10px;
    text-decoration: none;
    text-align: center;
		transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
	font-size: 0.95em;
	border-bottom: 1px ridge rgb(25, 24, 24);
}
#sidebar li ul {
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 200px;
    z-index: 200;
}
#sidebar li:hover ul {
    display: block;
	background:#333;
	
}
#sidebar li ul li a{
    padding:12px 10px;
    font-size:0.85em;
    transition:.5s ease-in;
    -webkit-transition:.5s ease-in;
    -moz-transition:.5s ease-in;
    -o-transition:.5s ease-in;
    -ms-transition:.5s ease-in;
    border-bottom:1px ridge #292828;
    color: #a4a6a7;
}
#sidebar li ul li a:hover,#sidebar li ul li a:active{
    background: #1d1c1c;
	color:#ffc229;
}
#sidebar i {
    margin-left: 2em;
    font-size: 0.7em;
    color: #f8e592;
}
/*-- sidebar ends --*/